/**
 * Lab Website Theme by GramThanos
 */



/* General
 -------------------------- */
body {
	color: #272829;
}

a {
	color: #149ddd;
	text-decoration: none;
}

a:hover {
	color: #37b3ed;
	text-decoration: none;
}



/* General
 -------------------------- */
.navbar-brand > img {
	height: 48px;
}
.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 996;
	background: #149ddd;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	transition: all 0.4s;
}
.back-to-top i {
	font-size: 18px;
	color: #fff;
	line-height: 0;
}
.back-to-top:hover {
	background: #2eafec;
	color: #fff;
}
.back-to-top.active {
	visibility: visible;
	opacity: 1;
}



/* Content
 -------------------------- */
section {
	padding: 60px 0;
	overflow: hidden;
}

.section-bg {
	background: #f5f8fd;
}

.section-title {
	padding-bottom: 30px;
}
.section-title h2 {
	margin-top: 14px;
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
	color: #173b6c;
}
.section-title h2::after {
	content: "";
	position: absolute;
	display: block;
	width: 50px;
	height: 3px;
	background: #149ddd;
	bottom: 0;
	left: 0;
}
.section-title p {
	margin-bottom: 0;
}

.section-subtitle {
	padding-top: 75px;
    margin-top: -75px;
	padding-bottom: 15px;
}
.section-subtitle h3 {
	margin-top: 8px;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	color: #173b6c;
}
.section-subtitle h3::after {
	content: "";
	position: absolute;
	display: block;
	width: 50px;
	height: 2px;
	background: rgba(0,0,0,0.2);
	bottom: 0;
	left: 0;
}
.section-subtitle p {
	margin-bottom: 0;
}



/* Jumbotron
 -------------------------- */

.jumbotron {
	height: 100vh;
	background-color: hsl(210,0%,5%);
	margin-top: -60px;
	position: relative;
	padding: 0 0;
}
.jumbotron .title {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	padding-top: 60px;
}
.jumbotron .title img {
	max-height: 320px;
	filter: drop-shadow(0px 0px 5px #000);
}
.jumbotron .title h2 {
	font-size: 1.2em;
}

#jumbotron-canvas {
	height: 100%;
	width: 100%;
}



/* Description
 -------------------------- */

.description h1 {
	font-size: 2em;
	text-align: center;
}
.description p {
	font-size: 1.2em;
}



/* Research
 -------------------------- */

.research h4 {
	font-size: 1em;
	text-align: center;
}
.research .item {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: var(--bs-gray-600);
	transition: all 0.5s;
}
.research .item:hover {
	color: var(--bs-gray-900);
}
.research .item h3 {
	font-size: 1.2em;
}
.research .item i {
	font-size: 100px;
	margin-bottom: 25px;
	color: var(--bs-primary);
}
.research .item p {
	margin-top: 25px;
	font-style: italic;
}



/* People
 -------------------------- */
.people .people-list .item {
	text-align: center;
	margin-bottom: 45px;
}

.people .people-list .item img {
	height: 180px;
	border-radius: 50%;
	border: 8px solid var(--bs-gray-400);
	margin-bottom: 16px;
}

.people .people-list .item h4 {
	font-size: 1.2em;
}

.people .people-list .item h4 i {
	font-size: 0.85em;
}



.social-links {
	cursor: default;
}
.social-links a {
	font-size: 16px;
	display: inline-block;
	background: #212431;
	color: #fff;
	line-height: 1;
	padding: 8px 0;
	margin-right: 4px;
	margin-top: 4px;
	border-radius: 50%;
	text-align: center;
	width: 32px;
	height: 32px;
	transition: 0.3s;
}
.social-links a:hover {
	background: #149ddd!important;
	color: #fff;
	text-decoration: none;
}



/* List of Items
 -------------------------- */
.content-list .item {
	border-left: 3px solid rgb(0 0 0 / 10%);
	padding-left: 10px;
	font-size: 16px;
	transition: all 0.5s;
}

.content-list:hover .item {
	border-left: 3px solid rgb(0 0 0 / 25%);
}

.content-list .item h4 {
	font-size: 1.2em;
}

.content-list .item h4 i {
	font-size: 0.85em;
}



/* info-table style
 -------------------------- */
.tablural h1, .tablural h2, .tablural h3, .tablural h4, .tablural h5, .tablural h6 {
	font-weight: normal;
}

.tablural .tablural-section {
	margin-bottom: 36px;
}

.tablural .tablural-table {
	min-width: 650px;
	margin-bottom: 0;
	background-color: #ffffff;
}

.tablural .table.tablural-table > tbody {
	border-top: 0px;
}

.tablural .tablural-table .tablural-table-title {
	background-color: #149ddd;
	color: #ffffff;
}

.tablural .tablural-table .tablural-table-title small {
	float: right;
	color: #ffffff;
}

.tablural .tablural-table .tablural-table-title small a {
	color: #ffffff;
}

.tablural .tablural-table .tablural-table-title h3 {
	font-size: 1.4em;
	margin: 0;
}

.tablural .tablural-table .tablural-table-title h4 {
	font-size: 1em;
	margin: 0;
}


.tablural .nav.nav-tabs {
	font-size: 0.8em;
}
.tablural .nav.nav-tabs .nav-link {
	padding: 0.3rem 0.8rem;
}
.tablural .tab-content {
	background: #ffffff;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	padding: 10px 10px 0px 10px;
}

.more-info .more-info-toggle {
	text-align: center;
	padding: 0 10px 8px 10px;
	cursor: pointer;
	line-height: 10px;
	transition: background .5s;
	user-select: none;
}

.more-info.closed .more-info-toggle {
	padding: 8px 10px 0 10px;
}

.more-info .more-info-toggle:hover {
	background: rgba(0,0,0,0.1);
}

.more-info .more-info-content {
	padding-top: 12px;
}

.more-info.closed .more-info-content {
	display: none;
}



/* Contact
 -------------------------- */
#map {
	height: 400px;
	overflow: hidden;
	filter: grayscale(1);
	transition: all 0.5s;
}
#map:hover {
	filter: grayscale(0);
}
#map iframe {
	width: 100%;
}



/* Footer
 -------------------------- */
#footer {
	text-align: center;
	padding: 20px 0;
	font-weight: lighter;
	font-style: normal;
	font-size: 0.85em;
	color: var(--bs-gray-600);
}
